

// reset everything
*, *::before,*::after {
  box-sizing: border-box;
}

// prevent iOS font size change
html {
  -webkit-text-size-adjust: 100%;
}

// reset body line-height
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

// all media elements set to block and full width
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

// inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

// collapse table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// assign button hover state
button, [role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

// reset anchor style
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

// reset heading style
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// reset list style
ol, ul {
  list-style: none;
}

// reset text input style
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

// reset firefox placeholder opacity
::-moz-placeholder {
  opacity: 1;
}

// reset textarea style
textarea {
  vertical-align: top;
  overflow: auto;
}

// reset checkbox and radio style
[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0
  }
}

// remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Estilos para el modo oscuro */
html[theme~="dark"] {
  --lumo-base-color: #18191a; /* Gris oscuro */
  --lumo-primary-color: #ff9800; /* Naranja */
  --lumo-body-text-color: #e0e0e0; /* Gris claro */
  --lumo-header-text-color: #f0f0f0; /* Gris muy claro para encabezados en modo oscuro */
  background-color: var(--lumo-base-color);
  color: var(--lumo-body-text-color);
}

html[theme~="dark"] body {
  background-color: var(--lumo-base-color);
  color: var(--lumo-body-text-color);
}

html[theme~="dark"] h1,
html[theme~="dark"] h2,
html[theme~="dark"] h3,
html[theme~="dark"] h4,
html[theme~="dark"] h5,
html[theme~="dark"] h6 {
  color: var(--lumo-header-text-color);
}

html[theme~="dark"] a {
  color: var(--lumo-primary-color);
}

/* Estilos para el modo party */
html[theme~="party"] {
  --lumo-base-color: #ffeb3b; /* Amarillo */
  --lumo-primary-color: #f44336; /* Rojo */
  --lumo-body-text-color: #000
}

.background{
    zIndex: -1;
    display: contents;
    width: 100%;
    height: auto;
}
.topBar{
    display: flex;
    justify-content: space-between;
}
.topBarToggle{
    display: flex;
    align-items: center;
}
.topBarButtons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.homeDivTop{
    display: flex;
    width: 832px;
    height: 181px;
    padding: 40px 86px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.homeDivBottom{
    display: flex;
    width: 1400px;
    height: auto;
    padding: 78px 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(339deg, rgba(255, 255, 255, 0.50) 13.04%, rgba(153, 153, 153, 0.00) 66.34%);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.homeDivSubBottom{
    display: flex;
    align-items: center;
    gap: 180px;

}

.homeDelegation{
    display: flex;
    width: 400px;
    height: 90px;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: #000;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: lumo, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.delegation-dropdown{
      position: absolute;
      align-items: center;
      top: 100%;
      left: 0;
      width: 250px;
      background: white;
      border: 1px solid #ccc;
      z-index: 1000;
      margin: 0;
      padding: 0;
      list-style: none;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }
.delegation-dropdown li {
  padding: 10px;
  cursor: pointer;
}
.delegation-dropdown li:hover {
  background-color: #f0f0f0;
}

.homeCalendar{
    background-image: url(../resources/icons/calendar.svg) 128px 128px !important;
    width: 128px;
    height: 128px;
    border-radius: 20px;
    aspect-ratio: 1/1;
    fill: #000;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.50));
}
.homeBook{
    display: flex;
    width: 300px;
    height: 100px;
    padding: 21px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 80px;
    border: 3px solid #FFBC05;
    background: #000;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: lumo, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.toggleDarkLight{
    display: flex;
    background: url(../frontend/images/sun.png);
}
